* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

a {
  font-size: 1.5rem;
}

p {
  font-size: 2rem;
}

li {
  font-size: 1.8rem;
  list-style: none;
}

.container-nav {
  width: 98%;
  height: 4rem;
  margin: 1.2rem;
  display: flex;
  border: 0.2rem solid black;
}

.container-nav-left {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 1.6rem;
  border-right: 0.2rem solid black;
}

.container-nav-inside {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 1.6rem;
  border-right: 0.2rem solid black;
}

.list-text,
.add-new,
.contact-add {
  text-decoration: none;
  color: black;
}

.container {
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.add-book {
  width: 98%;
  height: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  padding: 10px;
  width: 50%;
  height: 2.5rem;
}

.contact-container {
  width: 95%;
  height: 70rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.copyright {
  width: 95%;
  padding: 1.6rem 1.6rem;
  border: 0.2rem solid black;
  margin: 2rem;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.deactive {
  color: black;
}

.add_button {
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.color1 {
  background-color: white;
}

.color2 {
  background-color: gray;
}

.books_container {
  display: block;
  width: 98%;
  height: 700px;
  margin-top: 45px;
  overflow: auto;
  border: 2px solid black;
}
